.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background-color: #e3cdb1;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 24px;
}

.see-more-button {
  color: #9600a0;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 10px 10px 0 10px;
  justify-content: space-between;
}

.IconAndName {
  display: flex;
  justify-content: space-between;
}

.post-image {
  border: 1px solid #a8a7a7;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 30%;
  height: auto;
  cursor: pointer;
}

.post-video {
  border: 1px solid #a8a7a7;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.username {
  font-size: 30px;
}

.timestamp {
  margin-left: 10px;
  font-size: 15px;
}

.post-text {
  font-size: 20px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.engagement-metrics {
  color: #888;
  font-size: 12px;
}

.grid-item {
  background-color: #dfb682;
  height: auto;
}

.button-container {
  display: flex;
  grid-gap: 10px;
}

.post-button {
  width: 50%;
  border: none;
  border-radius: 10px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding-left: 4%;
  cursor: pointer;
}

.post-count.colored {
  color: #ffd500;
}

.post-count {
  margin-left: 5px;
  font-size: 17px;
  color: #6b6b6b;
}

.post-button:hover {
  background-color: #d9d9d9;
}

.commentPopup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.allComment {
  background-color: white;
  margin: 10% auto;
  padding: 20px 20px 0 20px;
  border: 1px solid #888888;
  width: 30%;
  height: 50%;
  border-radius: 15px;
  overflow-y: auto;
  position: relative;
}
.allComment button {
  display: block;
  margin: 0 auto;
}
.allComment::-webkit-scrollbar {
  display: none;
}

.show {
  display: block;
}

.eachComment {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 5px;
}

.comment-author {
  margin: 0;
  font-weight: bold;
}

.comment-text {
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #999;
  padding: 6px;
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 4px;
}

.enterComment {
  display: flex;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.enterCommentText {
  resize: none;
  height: 32px;
  width: 100%;
  position: sticky;
  bottom: 0;
  border-radius: 4px;
  padding: 4px;
}

.sendIcon {
  right: 0;
  cursor: pointer;
}

.sendIcon:hover {
  background-color: #fff8d3;
}
