.sidebar {
  position: fixed;
  width: 12%;
  height: 100%;
  background-color: #501d4b;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  z-index: 10;
}

.content {
  flex-grow: 1;
  padding: 10px;
}

.sidebar-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  text-align: left;
  font-size: 20px;
  font-style: oblique;
  color: #dfb682;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-image{
  width: 70%;
  display: block;
  margin: 0 auto;
}

.button-text {
  display: inline-block;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  fill: #dfb682;
}

.sidebar-button:hover {
  background-color: #854f6c;
}

.sidebar-button.active {
  background-color: #ccc;
}