.sidebar {
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: #501d4b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 10;
}

.content {
  flex-grow: 1;
  padding: 10px;
}

.sidebar-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  text-align: left;
  font-size: 20px;
  font-style: oblique;
  color: #dfb682;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-image {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.button-text {
  display: inline-block;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  fill: #dfb682;
}

.sidebar-button:hover {
  background-color: #854f6c;
}

.sidebar-button.active {
  background-color: #ccc;
}

@media (width <= 1140px) {
  .sidebar-button {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    color: #dfb682;
    cursor: pointer;
    display: flex;
  }

  .button-text {
    display: none;
  }
}

.loginButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: 20%;
  background-color: #dfb682;
}

.logoutButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: 20%;
  background-color: #a06499;
}

.loginButton {
  border: none;
  background-color: #dfb682;
}

.loginButton:hover {
  opacity: 0.5;
}

.logoutButton {
  border: none;
  background-color: transparent;
}

.logoutButton:hover {
  opacity: 0.5;
}
