.UserCard {
  border: 2px solid black;
  border-radius: 12px;
  width: 90%;
  background-color: white;
  cursor: pointer;
  margin: 4px 0 4px 5%;
  text-align: left;
}

.UserCard:hover {
  background-color: #bfa47f;
  transform: translateX(2vw);
  transition: all 0.1s ease-in-out;
}

.UserCard > .UserContent {
  display: inline-flex;
}

.UserCard img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 3px;
  margin-left: 2px;
  background-color: #fff;
}

.UserCard .UserInfo {
  margin-left: 16px;
  color: black;
}

.UserCard .UserInfo h4 {
  margin-top: 8px;
  margin-bottom: 0;
}

.UserCard .UserInfo p {
  margin-top: 2px;
  margin-bottom: 0;
  color: #737373;
}
