.ChatPage {
  background-color: #dfb682;
  display: flex;
  height: auto;
}

.chatContent {
  display: grid;
  grid-template-columns: 30% 70%;
  height: auto;
  width: 95%;
  margin-left: 13%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-right: 2%;
}

.FriendsList {
  height: fit-content;
  margin-right: 10%;
  border: 2px solid;
  border-radius: 24px;
  padding: 8px;
}

.FriendItem {
  background-color: #e3cdb1;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 20% 80%;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.FriendItem:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.FriendPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.FriendName {
  font-size: x-large;
  align-items: center;
}
.EmptyChat {
  font-size: xx-large;
}

.ChatHistory {
  display: flex;
  background-color: #e3cdb1;
  height: 90vh;
  overflow-y: scroll;
  border-radius: 24px;
  padding: 2% 2% 0 2%;
  flex-direction: column;
  border: 2px solid;
}

.ChatHistory::-webkit-scrollbar {
  display: none;
}

.Messages {
  flex: 1;
}

.FriendMessage {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  margin-bottom: 10px;
  background-color: #e6c7a0;
  padding: 1%;
  border-radius: 12px;
  width: fit-content;
}

.UserMessage {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  margin-bottom: 10px;
  justify-content: end;
  background-color: #dfb682;
  border-radius: 10px;
  padding: 1%;
}

.TextRight {
  text-align: right;
}

.ChatName {
  font-weight: bolder;
}

.enterMessage {
  display: flex;
  position: sticky;
  bottom: 0;
  background-color: #dfb682;
  border-radius: 12px;
}

.enterMessageText {
  align-items: flex-end;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  height: 30px;
  resize: none;
  overflow: hidden;
}

.enterMessageText::-webkit-scrollbar {
  display: none;
}

.sendIcon {
  right: 0;
  cursor: pointer;
  border-radius: 12px;
}

.sendIcon:hover {
  background-color: #f0d9c1;
}

h1 {
  padding-top: 6px;
  position: fixed;
  z-index: 4;
}
