.Home {
  background-color: #dfb682;
  font-family: "Poppins";
  display: flex;
  height: auto;
}

.SideBar {
  position: fixed;
}

.grid-container {
  height: auto;
  width: 95%;
  margin-left: 16%;
  padding-right: 2%;
}