.Home {
  background-color: #dfb682;
  font-family: "Poppins";
  display: flex;
  height: auto;
}

.SideBar {
  position: fixed;
}

.grid-container {
  height: auto;
  width: 95%;
  margin-left: 16%;
  padding-right: 2%;
}

.newPost {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 24px;
}

.title {
  font-size: 25px;
  padding: 5px;
}

.newPostText {
  width: 100%;
  height: auto;
  resize: vertical;
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100px;
}

.button-container {
  text-align: left;
}

.left-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.right-button {
  width: 10%;
  margin-left: auto;
  border-radius: 24px;
  background-color: #ad00b9;cursor: pointer;
}

.right-button:hover {
  background-color: #8f0099;
  cursor: pointer;
}