.LoginPage {
  display: grid;
  place-items: center;
  gap: 50px;
  height: 100vh;
  margin: 0;
  padding: 0 32px;
  background-color: #dfb682;
  font-family: "Poppins";
}

@media (width >= 500px) {
  .LoginPage {
    padding: 0;
  }

  .LoginCard {
    margin: 0;
    width: 360px;
  }
}

.LoginBackgrond {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background-color: #854f6c;
}

.LoginBackgrond::after {
  content: "";
  position: inherit;
  right: -50vmin;
  bottom: -50vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: #501d4b;
}

.LoginCard {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 40%;
  margin: 0 20px;
  padding: 170px 30px 54px;
  border-radius: 24px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.LoginCard::before {
  content: "";
  position: absolute;
  top: -880px;
  left: 50%;
  translate: -50% 0;
  width: 1000px;
  height: 1040px;
  border-radius: 50%;
  background: #522b5b;
}

.LoginCard .logo {
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50% 0;
  width: 100px;
  height: 100px;
  border-radius: 24px;
}

.LoginCard > h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 12px 0 24px;
  color: rgb(0 0 0 / 38%);
}

.LoginForm {
  margin: 0 0 44px;
  display: grid;
  place-items: center;
  gap: 12px;
}

.LoginForm :is(input) {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  font-size: 16px;
  font-family: inherit;
}

.LoginForm > input {
  border: 0;
  padding-left: 24px;
  color: #222222;
  background-color: #ededed;
}

.LoginForm > input::placeholder {
  color: rgb(0 0 0 / 30%);
}

.LoginForm button {
  border: 0;
  color: #f9f9f9;
  background-color: #522b52;
  display: grid;
  place-items: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 24px;
  width: 20vw;
  height: 5vh;
  transition: width 1s;
}

.LoginForm button:hover {
  width: 30vw;
}

.LoginForm > footer {
  color: #a1a1a1;
}
.LoginForm > footer > a {
  color: #216ce7;
}

.BackButton {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5vh;
  padding: 4px;
  font-size: large;
  background: transparent;
  border-radius: 12px;
}

.BackButton:hover {
  opacity: 0.3;
}
