body {
  background-color: #dfb682;
}

.ProfilePage {
  position: fixed;
  width: 100%;
}

.ProfileCard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 13%;
  flex-direction: column;
  margin-top: 2vh;
}

.ProfileImange img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid;
  padding: 2px;
  margin-top: 6px;
  background-color: #fff;
}

.SelfInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2vw;
}

.DetailContainer {
  border: 1px solid black;
  border-radius: 24px;
  padding: 8px;
  text-align: center;
  width: 400px;
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
}

.NumberContainer {
  display: inline-block;
  margin: 0 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

.NumberContainer > .Number {
  margin: 0 10px;
}

.NumberContainer:hover {
  cursor: pointer;
  opacity: 0.5;
}

.Container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Posts {
  background-color: #dfb682;
  color: #fff;
  transition: left 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
  overflow-y: scroll;
  border-radius: 24px;
  left: 100%;
}
.Followers {
  background-color: #dfb682;
  color: #fff;
  left: 100%;
  overflow-y: scroll;
  border-radius: 24px;
  transition: left 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.Following {
  background-color: #dfb682;
  color: #fff;
  left: 100%;
  overflow-y: scroll;
  border-radius: 24px;
  transition: left 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Base {
  width: 80%;
  height: 80vh;
  position: absolute;
  margin-top: 8vh;
  border: 2px solid black;
  max-height: 450px;
}

.Base::-webkit-scrollbar {
  display: none;
}
