body {
  background-color: #dfb682;
}

.SearchPage {
  height: 100vh;
  width: 300vh;
  position: fixed;
  padding-left: 15%;
  align-items: center;
}

.SearchTitle {
  margin-top: 8px;
  padding-top: 10px;
  margin-bottom: 0.5rem;
}

.SearchForm {
  position: fixed;
  width: 80%;
  background: #854f6c;
  border-radius: 0.7rem;
  margin: auto;
}

.SearchInput,
.SubmitButton {
  height: 3rem;
  border: 0;
  color: #2f2f2f;
  font-size: 1.5rem;
}

.SearchInput[type="search"] {
  outline: 0;
  width: 100%;
  background: #ebd1ae;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.SubmitButton {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #a26b89;
  border-radius: 0 0.7rem 0.7rem 0;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: #75465f;
}

.SearchInput:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
  + .SubmitButton {
    display: block;
  }
}

.Recommandation {
  width: 80vw;
  height: 90vh;
}

.RecommandationNavBar {
  margin-top: 60px;
  align-items: center;
  display: inline-flex;
}

.RecommandationBox {
  padding: 6px;
  border: 2px solid black;
  border-radius: 24px;
  height: 72vh;
  overflow-y: scroll;
}

.RecommandationBox::-webkit-scrollbar {
  display: none;
}

.RecommandationTitle {
  font-style: italic;
  font-size: larger;
  margin-right: 12px;
}

.Recommandation > button {
  border-radius: 24px;
  height: 30px;
  width: 50px;
  margin: 0 4px;
  border: #2f2f2f;
  cursor: pointer;
  background: #a26b89;
  margin-left: 12px;
}

.RecommandationContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #343434;
  border-radius: 20px;
  background: #343434;
  font-weight: bold;
  color: #343434;
  cursor: pointer;
}
.RecommandationContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: white;
  transition: all 0.3s;
}
.RecommandationCheckbox:checked + .RecommandationContainer::before {
  left: 50%;
}
.RecommandationContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}
.RecommandationCheckbox {
  display: none;
}
.RecommandationCheckbox:checked + .RecommandationContainer div:first-child {
  color: white;
  transition: color 0.3s;
}
.RecommandationCheckbox:checked + .RecommandationContainer div:last-child {
  color: #343434;
  transition: color 0.3s;
}
.RecommandationCheckbox + .RecommandationContainer div:first-child {
  color: #343434;
  transition: color 0.3s;
}
.RecommandationCheckbox + .RecommandationContainer div:last-child {
  color: white;
  transition: color 0.3s;
}
